.Hidden {
  transform: translate(-50em, 0) rotate(-360deg);
  border-radius: 50%;
}

.ToggleButton {
  opacity: 1;
  display: flex;
  z-index: 50;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 3px;
  top: 20px;
  right: 10px;
  background-color: #ffffff;
  border: 2px solid #229cb4;
  box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0, 0.5);
  height: 40px;
  width: 40px;
  transform: translate(0, 0) rotate(0, 0);
  transition: 0.6s ease-out;
  border-radius: 50%;
  cursor: pointer;
}

.Open div {
  position: relative;
  height: 3px;
  width: 25px;
  background-color: #229cb4;
  margin: 5px 0px;
  transition: 0.3s;
}

.Close div:first-child {
  position: relative;
  background-color: #229cb4;
  top: 3px;
  height: 3px;
  width: 25px;
  transition: 0.3s;
  transform: rotate(45deg);
}
.Close div:last-child {
  position: relative;
  background-color: #229cb4;
  height: 3px;
  width: 25px;
  transition: 0.3s;
  transform: rotate(-45deg);
}

@media (max-width: 500px) {
  .Hidden {
    transform: translate(-20em, 0) rotate(-360deg);
  }
}
