.ToggleMenu {
  position: fixed;
  z-index: 49;
  top: 45px;
  right: 35px;
  height: 10em;
  width: 9em;
  background-color: #0b0a10;
  /* border: 2px solid #091a46; */
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.8), inset 0 0 3px 0px rgba(255, 255, 255, 1);
  border-radius: 5px;
  animation: toggle 0.3s linear both;
}

@keyframes toggle {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, 10px);
  }
}
