.ToggleMenu {
  position: fixed;
  z-index: 49;
  top: 45px;
  right: 35px;
  height: 10em;
  width: 9em;
  background-color: #c4ebef;
  border: 2px solid #229cb4;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 3px 1px rgba(255, 255, 255, 1);
  border-radius: 5px;
  animation: toggle 0.3s linear both;
}

@keyframes toggle {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, 10px);
  }
}
