.NavBar {
  display: flex;
  position: relative;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 100;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.Disappear {
  opacity: 0;
}

.Logo {
  position: absolute;
  display: flex;
  top: 3px;
  font-family: "Alfa Slab One";
  font-size: 2rem;
  margin: 0 20px;
}

.Logo a {
  text-decoration: none;
  /* color: #5a4f9b; */
  color: #c4ebef;
  display: flex;
}

.Logo a > div {
  position: relative;
  top: 1px;
}

.Logo a > div div {
  width: 2rem;
  height: 5px;
  margin: 6px 5px;
  background-color: #c4ebef;
}

.mobile_Logo {
  display: none;
}

.NavigationItems {
  display: flex;
  position: absolute;
  top: 12px;
  right: 30px;
}

@media (max-width: 700px) {
  .Logo {
    font-size: 1.5rem;
    margin: 0;
  }

  .Logo a {
    display: none;
  }

  .mobile_Logo {
    display: flex;
    position: relative;
    top: 5px;
    left: 12px;
    color: #c4ebef;
  }

  .ToggleSideDrawer {
    display: block;
    position: relative;
    cursor: pointer;
    top: -1px;
  }

  .ToggleSideDrawer div {
    width: 1.7rem;
    height: 3px;
    margin: 6px 4px;
    background-color: #fe960f;
  }

  .NavigationItems {
    display: none;
  }
}
