.Sidedrawer {
  position: fixed;
  height: 100%;
  width: 280px;
  max-width: 70%;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: #eff2f4;
  transition: transform 0.3s ease-out;
}

.logout {
  font-family: "Bebas Neue";
  font-size: 15px;
  background-color: #fe960f;
  height: 2em;
  width: 5em;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 15px 10px;
}

@media (min-width: 500px) {
  .Sidedrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
