.Register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Register img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.Register form {
  box-sizing: border-box;
  background-color: #0b0a10;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 29em;
  width: 29em;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.8);
}

.Register form h2 {
  color: #fe960f;
  margin-bottom: 5px;
}

.Register form button {
  margin: 5px 0;
  background-color: #fe960f;
  color: #0b0a10;
  box-shadow: inset 0 0 3px 0 rgba(255, 255, 255, 0.9);
}

.Register form > span {
  color: #fe960f;
  font-size: 15px;
}

.Register .Input {
  width: 24em;
}

.Register button {
  height: 2em;
  width: 24em;
  border: none;
  outline: none;
  background-color: azure;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.Register button:hover {
  background-color: #ffa42c;
}

@media (max-width: 500px) {
  .Register form {
    height: 23em;
    width: 23em;
  }

  .Register .Input {
    width: 20.5em;
    font-size: 14px;
  }

  .Register .Input span {
    top: 30%;
    font-size: 13px;
  }

  .Register button {
    height: 2em;
    width: 18em;
  }

  .Register form > span {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .Register form {
    height: 20em;
    width: 20em;
  }

  .Register .Input {
    width: 21.5em;
    font-size: 12px;
  }

  .Register .Input span {
    top: 29%;
    font-size: 11px;
  }

  .Register button {
    height: 2em;
    width: 16em;
  }

  .Register form > span {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
