.Register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Register img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.Register form {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  /* background: rgba(255, 255, 255, 0.1); */
  /* background-color: #0b0a10; */
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: form 0.5s linear forwards;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
}

.Register .registerForm {
  height: 29em;
  width: 29em;
}

@keyframes form {
  0% {
    opacity: 0;
    transform: scale(90%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.Register .loginForm {
  height: 24em;
  width: 29em;
}

.Register form h2 {
  color: #fe960f;
  margin-bottom: 5px;
}

.Register form > span {
  color: #fe960f;
  font-size: 15px;
}

.Register button {
  margin: 5px 0;
  background-color: #fe960f;
  color: #0b0a10;
  box-shadow: inset 0 0 3px 0 rgba(255, 255, 255, 0.9);
  height: 2em;
  width: 24em;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.Register button:hover {
  background-color: #ffa42c;
}

.switchAuth {
  /* color: #5a4f9b; */
  color: #d993ab;
  cursor: pointer;
}

.error {
  position: absolute;
  font-size: 12px;
  top: 10px;
  left: 10px;
  color: #e73c35;
}

@media (max-width: 500px) {
  .Register .registerForm {
    height: 28em;
    width: 24em;
  }

  .Register .loginForm {
    height: 21em;
    width: 24em;
  }

  .Register button {
    height: 2em;
    width: 19.5em;
  }

  .Register form > span {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .Register .registerForm {
    height: 27em;
    width: 20em;
  }

  .Register .loginForm {
    height: 19em;
    width: 20em;
  }

  .Register button {
    height: 2em;
    width: 17.5em;
  }

  .Register form > span {
    font-size: 13px;
    margin-bottom: 12px;
  }
}
